@import 'color/color';
@import 'font/font';
@import '../fonts/quicksand/quicksand.css';

* {
	@include font(quicksand, normal);
	letter-spacing: 1.25px;
}

.navbar {
	height: 75px;
	padding: 15px 3%;
	color: color(font-white);
	background-color: transparent;
	transition: background-color 0.5s;

	&.sticked {
		$color-primary: color(primary);

		background-color: $color-primary;
		color: color(font-white);
	}

	.logo {
		height: 35px;

		&-label {
			@include font-style(title-bold);
			vertical-align: middle;
			letter-spacing: 2px;
			margin-left: 10px;
			font-size: 30px;
		}
	}

	.menu-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.menu-item {
			@include font-style(navbar-menu);
			display: inline-block;
			padding: 5px 10px;
			margin-left: 5px;
		}
	}
}

.hero {
	background-color: color(primary);
	background-blend-mode: darken;
	background-position: center;
	height: calc(75px + 100px);
	background-size: cover;
	margin-top: -75px;
	padding-top: 75px;
}
